*{
    margin: 0;
    padding: 0;  
}


p.alert{
    display: flex;
    justify-content: center;
    background-color: #646464;
    width: 314px;
}

body{
    background-image: url("content/pokecenter\ BG.jpg");
    color: white;
}

nav{
    background-color: #646464;
    vertical-align: top;
    margin-bottom: 2em;
}

a:hover{
    color: rgb(3, 212, 3);
}

a{
    text-decoration:none;
    color: white;
}

form, p{
    padding: 0.5em; 
    justify-content: space-between;
}

.divTable{
    display: flex;
    justify-content: space-around;
    text-align:center;
    
}

.divForm{
    background-color: #646464;
    /* opacity: ; */
    border-radius: 25px;
    border: solid black;
}

.recap, .index{
    width:4em;
    margin:1em 20%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
