*{
    margin: 0;
    padding: 0;  
}

caption{
    color:white
}

body{
    background-image: url("content/pokecenter\ BG.jpg");
    color: white;
}

nav{
    background-color: #646464;
    vertical-align: top;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.divLogo{
    display: flex;

}

.logo{
    width: 50px;
}

a:hover{
    color: rgb(3, 212, 3);
}

a{
    text-decoration:none;
    color: white;
}

form, p{
    padding: 0.5em; 
    justify-content: space-between;
}

.divAlert{
    display: flex;
    align-self: center;
    justify-content: center;
    vertical-align:middle;
    margin-top: 1em;
}

.divTable{
    display: flex;
    justify-content: space-around;
    text-align:center;
    margin-top: 7em;
}

.divForm{
    background-color: #646464;
    border-radius: 25px;
    border: solid black;
}

.recap, .index{
    width:4em;
    margin:1em 20%;
}

.cancel{
    display: flex;
    justify-content:center;
}

caption{
    text-align: center;
}

th, td{
    background-color: #646464 !important;
    color:white !important;
}


